body {
    background: #191a1a;
    padding: 50px;
}

.section {
    height: 100vh;
    min-height: 100vh;
}

.rc-slider {
    position: relative;
    height: 14px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: #e9e9e9;
    height: 4px;
}

.rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background-color: #393939;
}

.rc-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
}

.rc-slider-mark {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: 12px;
}

.rc-slider-handle {
    position: absolute;
    margin-left: -6px;
    margin-top: -16px;
    width: 6px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 2px #96dbfa;
    background-color: #33ccbc;
}

.rc-slider-dot {
    position: absolute;
    bottom: -6px;
    margin-left: -4px;
    width: 4px;
    height: 16px;
    border: 2px solid #e9e9e9;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
}

.rc-slider-dot-active {
    border-color: #96dbfa;
}

.rc-slider-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;
    margin-top: 20px;
    font-size: 16px;
}